.env.local

# Зависимости
node_modules/
.pnp
.pnp.js

# Сборка Next.js
.next/
out/

# Продакшн
build/

# Мусор
.DS_Store
*.pem

# Отладка
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные env-файлы
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
